<div class="heading">
  <div class="students-heading"><h3>Список учнів</h3></div>
  <div class="search">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Знайти учня"
      />
    </mat-form-field>
  </div>
  <webui-create-student></webui-create-student>
</div>

<div class="div-table mat-elevation-z8">
  <table
    mat-table
    [dataSource]="data"
    multiTemplateDataRows
    class="mat-elevation-z8"
    matSort
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column | localeHeader }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element[column] }}
        <mat-icon
          *ngIf="column == 'delete'"
          (click)="onDelete(element.id); $event.stopPropagation()"
          >delete_outline</mat-icon
        >
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns  -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <webui-update-student [student]="element"></webui-update-student>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
