.div-table {
  width: 85%;
  margin: auto;
}
.heading {
  width: 85%;
  margin: auto;
}
table {
  width: 100%;
}
mat-icon {
  cursor: pointer;
  &:hover {
    color: #d63031;
  }
}
.search {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5%;
}
.students-heading {
  margin-top: 1.5%;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--dark-color);
  color: var(--contrast-font-color);
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.mat-form-field {
  font-size: 14px;
  width: 25%;
  margin: 1% auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: var(--light-color);
  color: var(--font-color);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: var(--light-color);
  color: var(--font-color);
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
