<div class="form-block">
        <form [formGroup]="request" (ngSubmit)="onSubmit($event)">
          <h1 class="mat-h1 mat-headline">Відновлення доступу</h1>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Логін або email" formControlName="userInput"/>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </p>
          <div class="button-container">
                    <a mat-flat-button  routerLink="/" class="button-back">Назад</a>
                    <button type="submit" mat-flat-button [disabled]="!request.valid" class="button">Відправити</button>    
          </div>
        </form>
        
      </div>
       
