$gutter: 20px;
$content-width: 1170px;
$v-step: 20px;

.wrapper{
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 $gutter/2;
}

.myrow{
  display: flex;
  flex-wrap: wrap;
  margin: 0 ($gutter/2 * (-1)) !important;
}

[class*='mycol'] {
  width: 100%;
  padding: 0;
}


@mixin breakpoint($point){
  @if $point == desktop {
    @media (min-width: 1170px){
      @content
    }
  }@if $point == laptop {
  @media (min-width: 1024px){
    @content
  }
  }@if $point == tablet {
    @media (min-width: 768px){
      @content
    }
  }@if $point == phablet {
    @media (min-width: 561px){
      @content
    }
  }@if $point == mobile {
    @media (min-width: 560px){
      @content
    }
  }
}


$columns: ("1-1", "1-2", "1-3", "1-4", "3-4", "1-5", "2-5", "3-5", "4-5");
$points: ("mobile", "phablet", "tablet", "laptop", "desktop");

@function number($string) {
  $check: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
  $i: 0;
  @each $item in $check {
    @if $item == $string {
      @return $i
    }
    $i: $i + 1
  }
}
.mycol{
  @each $point in $points {
    @include breakpoint($point) {
      &-#{$point} {
        @each $column in $columns {
          &-#{$column} {
            max-width: percentage(number(str-slice($column, 1, 1))/number(str-slice($column, 3, 3)))
          }
        }
      }
    }
  }
}
.justify-center{
  justify-content: center;
}


.p-t-20{
  padding-top: 20px;
}


.p-l-20{
  padding-left: 20px;
}


.m-b-20{
  margin-bottom: 20px;
}

.m-b-10{
  margin-bottom: 10px;
}


.m-t-20{
  margin-top: 20px;
}

