.user-info {
  text-align: center;
  padding: 1em 0 1em 0;
  line-height: 1.7em;
      img {
        width: 100%;
  }

  .mask {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
  }

  .button-container {
    margin: 0 5px;
  }

}

