.main-container {
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  width: 80%;
  color: var(--contrast-font-color);;
  padding: 10px 0;
  margin: 5px auto 10px auto;
}
.header div {
  padding: 6px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.main-chart-container {
  display: flex;
  align-self: center;
  width: 80%;
  margin: 0 auto 40px auto;
}
mat-card {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  min-height: 560px;
  background-color: var(--light-color);
  }
mat-card-content {
  width: 100%;
  font-size: 30px;
  display: flex;
}
.container {
  padding: 10px 10px 0;
}
.card-container {
  padding: 0 10px;
}
.w-100 {
  width: 100%;
}
.chart-control-panel, .chart-container {
  padding: 0 10px;
}
.chart-container {
  padding: 10px 25px 0 25px;
  overflow: hidden;
}
.chart-control-panel {
  padding-left: 10px;
  font-size: 1rem;
}
mat-form-field {
  width: 100%;
}
button {
width: 80px;
padding: 0 !important;
}
.show-button {
  margin-right: 10px;
}
.show-chart-button {
  margin-top: 15px;
  margin-right: 10px;
}
.info-container {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  padding: 0 0 15px 38px;
}
