.button-container {
  justify-content: flex-end;
}

.button-container button {
  margin-left: 10px;
}

mat-drawer {
  padding: 10px 20px 10px 20px;
}

mat-sidenav-content{
  overflow-x: hidden;
}

.back-button {
  margin: 10px 10px 10px 0;
}
#user-info-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-toolbar {
  background-color: var(--dark-color) !important;
  color: var(--contrast-font-color) !important;
}
