.main-container {
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  width: 90%;
  color: var(--contrast-font-color);
  padding: 10px 0;
  margin: 20px auto 10px auto;
}
.header div {
  padding: 6px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
//-----------------------
.filter-container {
  margin: 10px auto 0 auto;
  width: 90%;
}

.filter-container .mat-form-field {
  font-size: 14px;
  width: 100%;
}
//----------------------------
.accordion {
  margin: 0 auto 15px auto;
  width: 90%;
}
mat-accordion {
  width: 100%;
}
.mat-card-content {
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
}
.accordion .mat-form-field {
  width: 90%;
}
.primary-button {
  margin: 0 12px !important;
}
.accordion mat-form-field {
  margin: 0 15px 0 0;
}
//--------------------------
.table-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  margin: 0 auto 20px auto;
}
table {
  width: 100%;
}
table .mat-form-field {
  width: 100%;
  margin: 0 15px 0 0;
}
table .mat-card {
  border-bottom: var(--alternative-accent-color);
  border-bottom-style: solid;
  border-bottom-width: 5px; 
  width: 100%;
  border-radius: 0;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  
}
.subject-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
}

td.mat-cell:first-of-type {
  width: 42%;
}

tr.subject-detail-row {
  height: 0; 
}

tr.subject-row:not(.subject-expanded-row):hover {
  background: var(--light-color);

  cursor: pointer;
}

.subject-row td {
  border-bottom-width: 0;
}

@media (max-width: 798px) {
  .mat-card-content {
    flex-direction: column;
  }
  td.mat-cell {
    padding: 10px 5px 0 5px;
  }
  .primary-button {
    margin: 0 0 10px 10px !important;
  }
}

