<mat-card>
    <form [formGroup]="editMark" (ngSubmit)="submitEdit($event)">
        <mat-card-content>

            <mat-form-field class="name-input">
                <input matInput placeholder="Назва типу оцінки" formControlName="markType" required>
            </mat-form-field>
            <mat-form-field class="text-area-field" >
                <textarea matInput placeholder="Додаткова інформація" formControlName="description"></textarea>
            </mat-form-field>
            <mat-radio-group aria-label="markState" formControlName="active">
                <mat-radio-button value="true" [checked]="markType.active">Активний</mat-radio-button>
                <mat-radio-button value="false" [checked]="!markType.active">Неактивний</mat-radio-button>
            </mat-radio-group>
            <mat-card-actions>
                    <button mat-button type="submit" [disabled]="editMark.invalid"> Редагувати </button>
                </mat-card-actions>
        </mat-card-content>
    </form>
</mat-card>
