table {
  width: 100%;
}

td, th {
  text-align: center !important;
  width: 33% !important;
}

.table-container {
  padding: 10px;
}

.table-title {
  padding: 10px;
  background-color: var(--dark-color);
  color: var(--contrast-font-color);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
}