<div class="main-container">
  <!-- Header -->
  <div class="header mat-elevation-z5">
      <div><h3> Статистика </h3></div>
  </div>

    <!-- <div class="chart-container" style="display: block">
      <mat-card>
          <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
      </mat-card>
      
    </div> -->
</div>