.theme-picker {
  position: absolute;
  top: 75px;
  right: 30px;
  z-index: 1000;
  background-color: var(--main-color);
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  animation: fadein .4s;
  color: var(--font-color);
  border: 3px solid var(--dark-color);
}

mat-radio-group {
  display: flex;
  flex-wrap: wrap;


  mat-radio-button {
    margin-bottom: 10px;
  }
}

@keyframes fadein {
  from {
    transform: scale(.5);
  }
  to {
    transform: scale(1);
  }
}