<mat-card class="chart-card theming">
  <mat-card-title>Статистика навантаженості потоків</mat-card-title>
  <mat-card-content>
    <div class="myrow w-100">
      <div class="mycol-desktop-1-4">

        <div class="chart-control-panel">
          <mat-form-field>
            <mat-label>Виберіть потік</mat-label>
            <mat-select (selectionChange)="setChartClass($event.value)" [value]="11">
              <mat-option *ngFor='let num of listOfClasses' [value]="num">
                {{num}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-radio-group (change)="setChartType($event.value)">
            <mat-radio-button value="bar" checked>Стовпці</mat-radio-button>
            <mat-radio-button value="pie">Диск</mat-radio-button>
            <mat-radio-button value="doughnut">Кiльце</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="mycol-desktop-3-4">

        <div class="chart-container">
          <canvas baseChart [data]="chartObj.data" [labels]="chartObj.labels" [options]="chartObj.options"
            [legend]="chartObj.legend" [chartType]="chartObj.type" [colors]="chartObj.colors"></canvas>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>