.container{
    display:flex;
    flex-direction: column;
    margin: auto 15px;

    .inputRequired{
        flex-direction: row;
    }
    mat-form-field{
        margin: auto 15px;
    }

    mat-radio-button {
        margin: auto 15px;
    }

    mat-card-actions{
        justify-content: center;
        margin: auto;
    }
}
