<div class="form-block">
        <form [formGroup]="login" (ngSubmit)="onSubmit($event)">
          <h1 class="mat-h1 mat-headline">Вхід в систему</h1>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Логін" color='accent' formControlName="username"/>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Пароль" formControlName="password" autocomplete="off"/>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </p>
          <div class="button-container">
                <a routerLink="request-password">Забули пароль?</a>
                <div class="button">
                  <button type="submit" mat-flat-button [disabled]="!login.valid">Вхід</button>
                </div>
          </div>
        </form>
      </div>
