$font-color: #fff;
$half-dark: rgba(
  $color: #3762d3,
  $alpha: 1
);


.background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("../../../assets/images/shutterstock_1068141515.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 !important;
}

figure {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.form-block {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  max-width: 300px;
  margin: 0.6rem;
  align-self: center;
  text-align: center;
  margin-top: -20% !important;
}

.substrate {
  height: 100%;
  color: var(--font-color);
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 2;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-color);
    opacity: .55;
    z-index: 1;
  }
}

.logotype {
  width: 150px;
}
.mat-h1 {
  color: var(--font-color);
  font-size: 24px;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
}

.error {
  padding: 16px;
  color: white;
  background-color: rgba(255, 0, 0, 0.2);
}

.button {
  display: flex;
  justify-content: flex-end;

  button {
    transition: .25s;

    &:disabled {
      background-color: #cccccc;
      color: #666666;
    }
  }
}

@media only screen and (min-width: 576px) {
  .form-block {
    margin: 5rem;
    margin-top: -10% !important;
  }
  .substrate {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .background {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .form-block {
    padding: 6rem;
  }
}

