.substrate {
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  height: 100%;
  color: black;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

figure {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.form-block {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  max-width: 300px;
  margin: 0.6rem;
  align-self: center;
  text-align: center;
  margin-top: -20% !important;
}

.logotype {
  width: 150px;
}

.background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("../../../assets/images/shutterstock_1068141515.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 !important;
}

@media only screen and (min-width: 768px) {
  .background {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 576px) {
  .substrate {
    width: auto;
  }
}


