.header {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  width: 80%;
  color: var(--contrast-font-color);
  padding: 10px 0;
  margin: 5px auto 10px auto;
}

.header div {
  padding: 6px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

mat-table {
  max-width: 90%;
  margin: 20px auto;
  overflow: auto;

  th,
  td {
    padding: 0 5px;
    vertical-align: middle;
    text-align: center;
  }

  .fullName {
    white-space: nowrap;
  }

  [mat-cell].fullName {
    padding: 0 10px;
    text-align: left;
  }

  tr:hover {
    background-color: var(--hovered-col-row-color);

    td {
      cursor: pointer;

      &:hover {
        background-color: var(--hovered-cell-color);
      }
    }
  }

  td.footer {
    background-color: var(--hovered-col-row-color);
    vertical-align: text-top;
    padding-top: 5px;
    cursor: unset !important;
  }

  .hovered {
    background-color: var(--hovered-col-row-color);
  }
}

.mark-field {
  padding: 5px;
  position: absolute;
  background-color: var(--box-bg-color);
  box-shadow: 0 3px 5px 2px var(--box-shadow-color);
  text-align: center;

  mat-form-field {
    display: block;
    margin: 2px auto;
    padding: 2px;
  }

  input {
    width: 40%;
  }

  textarea {
    width: 90%;
    resize: none;
  }

  button {
    display: inline-block;
    width: 45%;
    margin: 2px auto;
  }
}

.spinner-container {
  margin: 30px auto;
  width: fit-content;
}
