.header {
  display: flex;
  justify-content: center;
  background-color: #673ab7;
  width: 80%;
  color: white;
  padding: 10px 0;
  margin: 5px auto 10px auto;
}

.header div {
  padding: 6px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

mat-table {
  max-width: 90%;
  margin: 10px auto;
  overflow: auto;

  th, td {
    padding: 0 5px;
    vertical-align: middle;
    text-align: center;
  }

  .fullName {
    white-space: nowrap;
  }

  [mat-cell].fullName {
    padding: 3px;
    text-align: left;
  }

  tr:hover {
    background-color: #f1f3f4;

    th:hover {
      background-color: #d6dadb;
    }

    td {
      cursor: pointer;
    
      &:hover {
        background-color: #d6dadb;
      }
    }
  }

  .hovered {
    background-color: #f1f3f4;
  }
}

.mark-field {
  padding: 5px;
  position: absolute;
  background-color: #f4f6f6;
  box-shadow: 0 3px 5px 2px #e9ecec;
  text-align: center;

  
  mat-form-field {
    display: block;
    margin: 2px auto;
    padding: 2px;
  }
  
  input {
    width: 40%;
    max-width: 40px;
  }

  textarea {
    width: 90%;
    resize: none;
  }

  button {
    display: inline-block;
    width: 45%;
    margin: 2px auto;
  }
}