.example-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
  flex-direction: row;
}
.avatar {
  display: flex;
  flex-direction: column;
  max-width: 15%;
  label {
    position: relative;
    border-radius: 50%;
    .avatar-hover {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(45, 52, 54, 0.5);
      height: 100%;
      width: 100%;
      img {
        max-height: 30px;
        max-width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      border-radius: 50%;
    }
    mat-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      .avatar-hover {
        display: inline-block;
      }
    }
  }

  .avatar-img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    &:hover {
      cursor: pointer;
    }
  }

  .data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    mat-form-field {
      margin: 1%;
      padding: 1%;
    }
  }
}
button {
  margin-left: 3%;
}
.input-margin {
  display: inline;
  margin: 0 1%;
}

.example-container > * {
  width: 100%;
}

@media (max-width: 1044px) {
  .avatar {
    .avatar-img,
    label {
      min-width: 130px;
      min-height: 130px;
      max-width: 130px;
      max-height: 130px;
    }
  }
}
@media (max-width: 877px) {
  .form-container {
    flex-direction: column;
  }
  .avatar {
    margin: auto;
  }
}
@media (max-width: 877px) and (min-width: 765px) {
  .data {
    margin: 5% 10%;
  }
}
@media (max-width: 765px) {
  .data {
    margin: 5% 15%;
  }
  .input-margin {
    margin: 0 4%;
  }
}
@media (max-width: 660px) {
  .data {
    margin: auto;
  }
}
