h1 {
    text-align: center;
    margin: 20px;
}

mat-expansion-panel {
    margin: auto 20px;
}

mat-panel-title {
    width: 0;
}

mat-form-field {
    margin: 5px;
}

.term-class-year-div {
    margin-bottom: 10px;
}

.term-div {
    display: inline-block;
}

.date-div {
    font-size: 12px;
    color: #aaa;
    margin: 0 10px 10px 10px;

    mat-form-field {
        width: 6em;
    }
}

button[type="submit"] {
    margin-top: 10px;
}