<h1>Розклад уроків</h1>
<form>
  <mat-form-field>
    <input type="text" placeholder="Семестр" matInput [formControl]="this.scheduleForm.get('term')" [matAutocomplete]="termA">
    <mat-autocomplete #termA="matAutocomplete">
      <mat-option *ngFor="let term of filteredTerm | async" [value]="term">
        {{term}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Клас" matInput [formControl]="this.scheduleForm.get('class')" [matAutocomplete]="classA">
    <mat-autocomplete #classA="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let class of filteredClasses | async" [value]="class">
        {{class.className}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Навчальний рік" matInput [formControl]="this.scheduleForm.get('year')" [matAutocomplete]="yearA">
    <mat-autocomplete #yearA="matAutocomplete">
      <mat-option *ngFor="let year of filteredYears | async" [value]="year + ' - ' + (+year + +1)">
        {{year}} - {{+year + 1}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let day of daysOfWeek; let i=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{day.value}}
        </mat-panel-title>
        <!-- <mat-panel-description>
          ({{day.lessons.length - 1}} уроків)
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <webui-daily-schedule 
        [dailySchedule]="scheduleForm.get('scheduleForWeek').get(day.name)">
      </webui-daily-schedule>
    </mat-expansion-panel>
  </mat-accordion>

  <button type="submit" (click)="onSubmit()" mat-raised-button>Submit</button>
</form>
