<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport [mode]="(handsetSubject$ | async) ? 'over' : 'side'"
    [(opened)]="isOpened">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let link of linksSet" [routerLink]="link.path" mat-list-item routerLinkActive="active"
        (click)="closeOnLink()">
        <i class="material-icons">
          {{link.icon}}
        </i>
        {{link.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #sideNav mode="over" [position]="sidenavPosition" fixedInViewport="false">
    <div id="user-info-sidebar">
      <button mat-fab (click)="sideNav.toggle()" class="back-button" color="primary">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      <webui-current-user></webui-current-user>
      <div>
        <button (click)="http.signOut()" mat-raised-button color="primary">
          <mat-icon>exit_to_app</mat-icon> Вихід
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-toolbar color="primary">

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="isOpened = true" *ngIf="!isOpened">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-toolbar color="primary" class="button-container">
      <webui-theme-button></webui-theme-button>
      <button class="current-user-icon" (click)="sideNav.toggle()" mat-fab color="grey">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
  </mat-toolbar>
  <ng-content></ng-content>
</mat-sidenav-container>