.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

@media (min-width: 768px) {
  .sidenav {
    width: 270px;
  }
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


mat-sidenav mat-toolbar{
  background-color: var(--dark-color) !important;
  text-transform: uppercase;
}

mat-sidenav {
  border: none;
  color: var(--font-color);
}

mat-nav-list{
  padding: 0 !important;
  color: var(--font-color);
}

mat-list-item {
  position: relative;
}

mat-nav-list i {
  margin-right: 10px;
}

.active {
  color: var(--alternative-accent-color);
}

.button-container {
  justify-content: flex-end;
}

.button-container button {
  margin-left: 10px;
}

mat-drawer {
  padding: 10px 20px 10px 20px;
  z-index: 102 !important;
}

mat-sidenav-content{
  overflow-x: hidden;
}

.back-button {
  margin: 10px 10px 10px 0;
}
#user-info-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-toolbar {
  z-index: 101 !important;
  background-color: var(--dark-color) !important;
  color: var(--contrast-font-color) !important;
}

.mat-drawer-container {
  background-color: var(--main-color) !important;
}

.mat-drawer {
  background-color: var(--light-color) !important;
}

.mat-list-item {
  color: inherit;
}

.mat-list-item.active {
  color: var(--accent-color) !important;
}
