webui-count-bar{
  width: 100%;
  padding: 0 10px;
}

.counting {
  mat-card-content {
    height: 100px;
    align-items: center;
    justify-content: center;
  }
}

.container {
  padding: 10px 10px 0;
}

.card-container {
  padding: 0 10px;
}

.chart-block-container {
  width: 100%;
  padding: 0 30px 10px;
}

