
table {
  width: 100%;
}

td, th {
  text-align: center !important;
  width: calc(100% / 6) !important;
}

th {
  font-size: .9rem;
}

td {
  font-size: .8rem;
}

.table-container {
  padding: 10px;
  padding-top: 0;
  margin-top: 10px;
  position: relative;
  overflow: auto;
}

.mat-column-select {
  overflow: initial;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row{
  transition: .3s;
}

tr.element-row:not(.expanded-row):hover {
  background: var(--light-color);
  cursor: pointer;
}

tr.element-row:not(.expanded-row):active {
  background: var(--light-color);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

webui-transfer-students-table {
  width: 100%;
}

.info-title {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  color: var(--font-color);
}

.new-year-spinner {
  margin: 1rem auto;
}
