.container {
  height: calc(100vh - 96px);
  .navigation {
    text-align: center;
    margin: 2rem 1rem 1rem;
    mat-form-field {
      width: 8rem;
    }
    .current-week {
      margin-left: .3rem;
    }
  }
  .diary {
    padding: 1rem 1rem .5rem;
    mat-card {
      margin-bottom: 1.2rem;
      padding: 0;
      mat-card-title {
        padding: .8rem 0 0 .8rem;
      }
      table {
        width: 100%;
        border-spacing: 1px;
        th {
          padding: .5rem;
          background: #5b33a1;
          color: #fff;
        }
        td {
          padding: .5rem;
          background: #eaeaea;
          text-align: center;
          mat-icon {
            vertical-align: middle;
            margin: -.7rem 0 -0.5rem;
            padding: .9rem .4rem;
            font-size: 28px;
            color: #2f255f;
            cursor: pointer;
            &:hover {
              color: #ff0059;
            }
          }
        }
        .lesson-content {
          text-align: left;
        }
      }
    }
  }
  h3 {
    margin: 3rem 2rem;
    text-align: center;
    color: #5b33a1;
  }
}

@media screen and (min-width: 1024px) {
  .diary {
    column-count: 2;
    .day-in-diary {
      flex: 0 0 49%;
      break-inside: avoid;
    }
    .day-1 {
      order: 1;
    }
    .day-2 {
      order: 3;
    }
    .day-3 {
      order: 5;
    }
    .day-4 {
      order: 2;
    }
    .day-5 {
      order: 4;
    }
    .day-6 {
      order: 6;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: calc(100vh - 88px);
    .current-week {
      font-size: .8rem;
    }
    .diary {
      padding: .3rem;
      font-size: .8rem;
      mat-card {
        margin-bottom: 1rem;
        mat-card-title {
          padding: .5rem 0 0 .5rem;
          font-size: 1.2rem;
        }
        table {
          width: 100%;
          th {
            padding: .4rem .1rem;
            font-size: .75rem;
          }
          td {
            padding: .4rem .1rem;
            mat-icon {
              margin: -.8rem 0 -.4rem;
              padding: .9rem .4rem .7rem .4rem;
              font-size: 24px;
            }
          }
          .lesson-content {
            padding-left: .3rem;
          }
        }
      }
    }
  }
}
