mat-table {
    display: flex;
    flex-direction: column;
}

mat-table .mat-header-row,
mat-table .mat-row{
display: flex;
flex-direction: row;
}

mat-table .mat-header-row > .mat-header-cell, 
mat-table .mat-row > .mat-cell{
flex: 1 1 auto;
}