.mainExpansion{
    max-width: 90%;
    margin: 15px auto;
  }

.header {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  width: 90%;
  color: var(--contrast-font-color);
  padding: 1rem 0;
  align-self: center;
  margin-top: 1rem;
  text-align: center;
  margin: 15px auto;

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.class-row:not(.expanded-row):hover {
  background: #683ab756;
}

.class-row td {
  border-bottom-width: 0;
  width: 33%
}

.class-detail {
  overflow: hidden;
  display: flex;
}

.class-description {
  padding: 16px;
}
