<mat-accordion>
    <mat-expansion-panel hideToggle class="activeclasses">
        <mat-expansion-panel-header>
            <mat-panel-title>Активні класи</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let activeClass of activeUniqueClassList | keyvalue" hideToggle class="groupofclasses" >
            <mat-expansion-panel-header>
                <mat-panel-title>{{activeClass.key}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-table [dataSource]="activeClass.value">
                
                <ng-container matColumnDef="className">
                    <th mat-header-cell *matHeaderCellDef> Клас </th>
                    <td mat-cell *matCellDef="let element"> {{element.className}} </td>
                </ng-container>
                <ng-container matColumnDef="classYear">
                    <th mat-header-cell *matHeaderCellDef> Рік </th>
                    <td mat-cell *matCellDef="let element"> {{element.classYear}} </td>
                </ng-container>
                <ng-container matColumnDef="numOfStudents">
                    <th mat-header-cell *matHeaderCellDef> Кількість учнів </th>
                    <td mat-cell *matCellDef="let element"> {{element.numOfStudents}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
        <mat-expansion-panel hideToggle class="activeclasses">
            <mat-expansion-panel-header>
                <mat-panel-title>Неактивні класи</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let nonActiveClass of nonActiveUniqueClassList | keyvalue" hideToggle class="groupofclasses" >
                <mat-expansion-panel-header>
                    <mat-panel-title>{{nonActiveClass.key}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="nonActiveClass.value">
                    
                    <ng-container matColumnDef="className">
                        <th mat-header-cell *matHeaderCellDef> Клас </th>
                        <td mat-cell *matCellDef="let element"> {{element.className}} </td>
                    </ng-container>
                    <ng-container matColumnDef="classYear">
                        <th mat-header-cell *matHeaderCellDef> Рік </th>
                        <td mat-cell *matCellDef="let element"> {{element.classYear}} </td>
                    </ng-container>
                    <ng-container matColumnDef="numOfStudents">
                        <th mat-header-cell *matHeaderCellDef> Кількість учнів </th>
                        <td mat-cell *matCellDef="let element"> {{element.numOfStudents}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </mat-table>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>