.controll-panel {
  background-color: var(--light-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}