/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/scss/gridsets";
@import "./assets/mat-themes/light-theme.scss";
@import "./assets/mat-themes/night-theme.scss";
@import "./assets/mat-themes/medium-theme.scss";

%material-theme-defaults {
  min-height: 100vh;
  .mat-drawer-side {
    border-right: none !important;
  }

    mat-sidenav-container, mat-sidenav-content {
      min-height: 100vh;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dayTheme {
  @include angular-material-theme($my-day-theme);
  @extend %material-theme-defaults;
}
    

.nightTheme {
  @include angular-material-theme($my-night-theme);
  @extend %material-theme-defaults;
}

.morningTheme {
  @include angular-material-theme($my-morning-theme);
  @extend %material-theme-defaults;
}

%notification {
  color: white;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;
  animation: slowshow .3s;

  &>*{
    font-size: 14px !important;
    text-transform: uppercase;
  }
}

.error {
  @extend %notification;
  background-color: #b22222;
}

.success {
  @extend %notification;
  background-color: #5cac2d;
}

.failure {
  @extend %notification;
  background-color: darkorange;
}

@keyframes slowshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.mat-drawer {
  width: 330px;
  height: 100%;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}
