/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/scss/gridsets";


*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

%notification {
  color: white;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;
  animation: slowshow .3s;

  &>*{
    font-size: 14px !important;
    text-transform: uppercase;
  }
}

.error {
  @extend %notification;
  background-color: red;
}

.success {
  @extend %notification;
  background-color: limegreen;
}

.failure {
  @extend %notification;
  background-color: darkorange;
}

@keyframes slowshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
