<div class="header mat-elevation-z5">
    <div class="send-teacher-email" (click)="sendTeacherList()" ><mat-icon>cloud_download</mat-icon></div>
    <div class="header-text">
        <h3>Список вчителів</h3>
    </div>
</div>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Пошук" class="search-input">
</mat-form-field>


<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Додати вчителя
        </mat-expansion-panel-header>
        <webui-teacher-create></webui-teacher-create>
    </mat-expansion-panel>
</mat-accordion>

<div class="mat-elevation-z5 table-container">
    <table mat-table [dataSource]="teachersList" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef>{{dataHeader(column)}}
                <webui-sort-button [columnName]="column" (sortOptions)="sortOptions($event)"></webui-sort-button>
            </th>
            <td mat-cell *matCellDef="let teacher"> {{teacher[column]}} 
                <mat-icon *ngIf="column == 'bind'">person_add</mat-icon>
                <mat-icon *ngIf="column == 'delete'" (click)='deleteTeacher($event, teacher.id)'>delete_outline</mat-icon>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let teacher" [attr.colspan]="columnsToDisplay.length">
                <div class="teacher-detail" [@detailExpand]="teacher == expandedElement ? 'expanded' : 'collapsed'">
                    <webui-teacher-card *ngIf="teacher" [teacher]="teacher"></webui-teacher-card>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let teacher; columns: columnsToDisplay;" class="teacher-row"
            [class.teacher-expanded-row]="expandedElement === teacher"
            (click)="expandedElement = expandedElement === teacher ? null : teacher">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="teacher-detail-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

</div>