$base-background: #673ab7;

%flex-center {
  display: flex;
  justify-content: center;
}

:host {
  @extend %flex-center;
  flex-direction: column;
}
mat-icon {
  vertical-align: middle;
}
mat-icon:hover {
  cursor: pointer;
}
.mat-column-delete,
.mat-column-bind{
  width: 10%;
  text-align: center;
}


.header {
  @extend %flex-center;
  background-color: $base-background;
  width: 90%;
  color: white;
  padding: 1rem 0;
  align-self: center;
  margin-top: 1rem;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .header-text{
    width: 95%;
    align-self: center;
  }
}
// .mat-column-dateOfBirth{
//   display: none;
// }

.mat-column-expandedDetail {
  padding: 0 !important;
}

.mat-form-field {
  display: flex;
  width: 300px !important;
  align-self: center;
  justify-self: center;
  margin: 0.2rem;
  font-size: 1rem;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}
.container {
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  width: 98%;
  align-self: center;
}
.addTeacherButton {
  margin: 0.5rem;
  margin-bottom: 2rem;
}
mat-content {
  align-items: center;
}

.mat-accordion {
  align-self: center;
  margin: 0.5rem;
  width: 90%;
}

.table-container {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.send-teacher-email{
  display: flex;
  align-self: center;
}

table {
  width: 100%;

  .teacher-row,
  th {
    width: 25%;
  }
  .teacher-row:hover {
    background-color: #e8e8e8;
  }
  td {
    font-size: 12px;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.teacher-detail {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.teacher-row {
  padding: 0.2rem;
}

.teacher-row td {
  border-bottom-width: 0;
}
tr.teacher-detail-row {
  height: 0;
  padding: 0 !important;
}
.teacher-diagram {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  & .diagram-block-1,
  .diagram-block-2 {
    display: flex;

    & > div {
      padding: 0.5rem 0.2rem;
    }
  }
}
.bold-text {
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .table-container {
    width: 90%;
  }
  td,
  th {
    padding: 1rem;
  }
  td {
    font-size: 14px !important;
  }
  tr.teacher-detail-row {
    height: 0;
    padding: 0 !important;
  }
  .teacher-row td {
    padding: 1rem !important;
  }
  .mat-header-cell {
    padding: 1rem !important;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: 90%;
    flex-direction: row;
    align-content: center;
  }
  .addTeacherButton {
    margin: 0;
  }
  .mat-form-field {
    margin: 0.5rem;
  }
}
